@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    /* height: 100vh; */
    /* background: radial-gradient(white, gray); */
    /* overflow: hidden; */
}

.main {
    background: url('background.jpg') no-repeat center center/cover;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    padding-left: 30px;
}

#main-heading {
    color:#efea82;
    font-weight: 600;
    letter-spacing: 4px;
}

#sub-heading {
    margin-top: 15px; 
    color: #7b9cad;
}

.txt {
    border-right: 0.2rem solid #efea82;
}
#about {
    padding-top: 40px;
    background: linear-gradient( black, #7b9cad, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-portrait {
    background: url(sss.jpg) center center/cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: 40px;
}
#about-content {
    text-align: center;
    color: #7b9cad;
    max-width: 70%;
}